body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.datos-recuadro {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.datos-recuadro h2 {
    margin-top: 0;
}

.datos-recuadro p {
    margin: 5px 0;
}

.datos-recuadro button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.datos-recuadro button:hover {
    background-color: #c82333;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
